.sentenceCard {
  padding-bottom: 8px;
  background-color: transparent;
  border: none;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 20px;
}

.aiCard {
  margin-top: 18px;
}
