.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px;
  min-width: 360px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
